# /etc/systemd/system/hornet.service
[Unit]
Description=HORNET
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/hornet
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/opt/hornet
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
